* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

/* Header components */

header {
    position: fixed;
    top: 0;
    display: flex;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    z-index: 5;
}
.title-img {
    height: 50px;
    margin-top: 12px;
    margin-left: 10px;
    width: auto;
}
ul {
    justify-content: space-around;
    display: flex;
    text-align: right;
    width: 100%;
    list-style-type: none;
}

/* Mission Section */

.mission-section {
    background-image:url("./src/images/img-mission-background.webp");
    height: 700px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
}
.mission-container {
    text-align: center;
    width: 1200px;
    height: 100px;
}

/* Featured Tea Section */ 

#featured {
    width: 1000px;
    margin: 0 140px;
}

.t-title {
    justify-content: center;
    text-align: center;
}

.tea-blocks, .location-cards { /* cards */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
img {
    height: 200px;
    width: 300px;
    margin-bottom: -10px;
}
.img-container { /* col */
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Locations Section */

.locations-section {
    background-image: url(./src/images/img-locations-background.webp);
    height: 500px;
    width: 1200px;
    margin: 0 40px;
}
.locations-title {
    text-align: center;
    background-color: transparent;
    height: 15px;
}
.container {
    opacity: 1;
    width: 300px;
    text-align: center;
    display: inline-grid;
}

/* Footer Section */

.contact-info {
    text-align: center;
    margin: 0 140px;
}
.copyright {
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
}