* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

/* Header components */

header {
    position: fixed;
    top: 0;
    display: flex;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    z-index: 5;
}
.title-img {
    height: 50px;
    margin-top: 12px;
    margin-left: 10px;
    width: auto;
}
ul {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    width: 81%;
    list-style-type: none;
}

/* Mission Section */

.mission-section {
    background-image:url("./src/images/img-mission-background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
}
.mission-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    line-height: 1;
}

/* Featured Tea Section */ 

#featured {
   max-width: 1000px;
    margin: 0 140px;
}

.t-title {
    justify-content: center;
    text-align: center;
}

.tea-blocks { /* cards */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 11px;
}
img {
    height: 200px;
    width: 300px;
    margin-bottom: -10px;
}
.img-container { /* col */
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Locations Section */

.locations-section {
    background-image: url(./src/images/img-locations-background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    max-width: 1200px;
    margin: 0 40px;
}
.locations-title {
    text-align: center;
    background-color: transparent;
    position: relative;
    top: 50px;
}
.location-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: transparent;
}
.container {
    display: flex;
    opacity: 1;
    width: 300px;
    flex-direction: column;
    margin: 50px 30px;
}

/* Footer Section */

.contact-info {
    text-align: center;
    margin: 0 140px;
}
.copyright {
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
}